.header-history-block{
  padding: 40px 0;
  height: 70vh;
}
.img-block-1{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.img-block-1-icon{
  width: 100%;
  object-fit: contain;
}
.figure-script{
  width: 95%;
  text-align: center;
  font-style: italic;
}

.header-history-block-1{
  background: url(../img/blog-1.jpg) no-repeat transparent;
  background-size: cover;
  background-position: center 40%;
}
.header-history-block-2{
  background: url(../img/blogg.jpg) no-repeat transparent;
  background-size: cover;
  background-position: 40% 90%;
}

.header-history-block-3{
  background: url(../img/blog-3.jpg) no-repeat transparent;
  background-size: cover;
  background-position: right 41%;
}

.header-history-block-4{
  background: url(../img/blog-4.jpg) no-repeat transparent;
  background-size: cover;
  background-position: 5% 39%;
}

.header-history-block-5{
  background: url(../img/blog-5.jpg) no-repeat transparent;
  background-size: cover;
  background-position: center 25%;
}

.header-history-block-6{
  background: url(../img/blog-6.jpg) no-repeat transparent;
  background-size: cover;
  background-position: 86% 25%;
}

.header-history-block-7{
  background: url(../img/blog-7.jpg) no-repeat transparent;
  background-size: cover;
  background-position: center 42%;
}

.header-history-block-8{
  background: url(../img/blog-8.jpg) no-repeat transparent;
  background-size: cover;
  background-position: 93% 42%;
}

.header-history-block-9{
  background: url(../img/blog-9.jpg) no-repeat transparent;
  background-size: cover;
  background-position: 93% 57%;
}

.header-history-3{
  max-width: 800px;
}

.container-history{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
}
.container-header-history{
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.header-history{
  font-size: 35px;
  max-width: 500px;
  color: white;
  line-height: 40px;
  left: 500px;
}
.zaglav{
  display: flex;
  padding: 18px 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}
.text-zaglav{
  color: #a9aeb2;
  font-size: 14px;
  line-height: 0;
}
.text-history{
  width: 100%;
  font-size: 16px;
  text-align: start;
  margin-bottom: 20px;
}
.list-history{
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
}
.text-history-list{
  font-size: 16px;
  text-align: start;
  margin-bottom: 5px;
}
.text-history:last-child{
  margin-bottom: 60px;
}
.link-history{
  color: blue;
  border-bottom: 1px solid blue;
}
.img-history{
  width: 80%;
  margin-bottom: 30px;
  border-radius: 4px;
}
.footer-hystory{
  border-top: 1px solid gray;
}

.foter-border{
  border-top: 1px solid gray;
}
.list-connect{
  width: 100%;
}

.header-history-8{
  color: black;
}

.block-back{
  display: flex;
  width: 50px;
  height: 50px;
  padding: 5px;
  
}

.btn-back{
  width: 100%;
}


@media (max-width: 1024px){
  .header-history{
    font-size: 24px;
  }
}

@media (max-width: 600px){
  .img-history{
    width: 100%;
  }
  .figure-script{
    font-size: 10px;
  }
}